{% extends 'base.html' %}
{% load user_filters %}
{% block title %}
  {{'Подписки'}}
{% endblock %}
{% load thumbnail %}
{% block contend %}
  <!-- класс py-5 создает отступы сверху и снизу блока -->
  <div class="container py-5">
    {% include 'includes/switcher.html' %}     
    <h1>Ваши подписки:</h1>
    <article>
      {%if not page_obj %}
        <h2>Увы, вы пока не на кого не подписались...</h2>
      {% endif %}
      {% for post in page_obj %}
      <ul>
        <li>
          Автор: {{ post.author.get_full_name }}
          <a href="{% url 'posts:profile' post.author.username %}">все посты пользователя</a>
        </li>
        <li>
          Дата публикации: {{ post.pub_date|date:'d E Y'}}
        </li>
        {% if post.group %}
        <li>
          Группа: {{ post.group}}
        </li>
        {% endif %}
      </ul>  
      {% thumbnail post.image "960x339" crop="center" upscale=True as im %}
        <img class="card-img my-2" src="{{ im.url }}">
      {% endthumbnail %}    
      <p>{{ post.text }}</p>
      {% if post.group %}
      <a href="{% url 'posts:group_list' post.group.slug %}">все записи группы</a>
      {% endif %}
      <a href="{% url 'posts:post_detail' post.pk %}">подробная информация </a>
    </article>
    {% if not foorloop.last %}<hr>{% endif %}
    {% endfor %}
    {% include 'includes/paginator.html' %}
  </div>
{% endblock %}
